---
import type { Role, RPlayer } from "../lib/keys";

const { players } = Astro.props as { players: RPlayer[] };

function showImg(role: Role, index: number): boolean {
	if (role !== "dps") return true;
	return index === 0;
}

---

<div class="players">
	{
		players.map((p, i) => (
			<>
				{showImg(p.role, i) ? <img class="role-img" src=`images/roles/${p.role}.webp` /> : <></>}
				<a 
					class={p.type.toLowerCase()} 
					href={p.compareUrl ?? p.rioUrl} 
					target="_blank"
					data-rio-url={p.rioUrl}
					data-compare-url={p.compareUrl}
					onclick="handlePlayerClick(event, this)"
				>
					{p.name}
				</a>
			</>
		))
	}
</div>

<script>
	let rKeyPressed: boolean = false;
	const isR = (key: string) => key === 'r' || key === 'R';

	document.addEventListener('keydown', (e: KeyboardEvent) => {
		if (isR(e.key)) rKeyPressed = true;
	});

	document.addEventListener('keyup', (e: KeyboardEvent) => {
		if (isR(e.key)) rKeyPressed = false;
	});

	(window as any).handlePlayerClick = function(event: MouseEvent, element: HTMLAnchorElement): void {
		const rioUrl  = element.getAttribute('data-rio-url')!;

		if (rKeyPressed) {
			element.href = rioUrl;
		} else {
			const compareUrl = element.getAttribute('data-compare-url')!;
			if (element.href === rioUrl && compareUrl) element.href = compareUrl;
		}

		rKeyPressed = false;
	};
</script>

<style>
	a {
		color: inherit;
		text-decoration: none;
		padding-right: 0.3em;
	}

  a:last-of-type {
    padding-right: 0em;
  }

	.role-img {
		height: 1em;
		width: auto;
		padding-right: 0.2em;
	}

	.players {
		color: #f4ebd0;
		font-size: 0.8em;
		margin-top: auto;
		margin-bottom: auto;

		display: flex;
		text-align: center;
		align-items: center;
	}

	.deathknight {
		color: #c41e3a;
	}

	.demonhunter {
		color: #a330c9;
	}

	.druid {
		color: #ff7c0a;
	}

	.evoker {
		color: #33937f;
	}

	.hunter {
		color: #aad372;
	}

	.mage {
		color: #3fc7eb;
	}

	.monk {
		color: #00ff98;
	}

	.paladin {
		color: #f48cba;
	}

	.priest {
		color: #ffffff;
	}

	.rogue {
		color: #fff468;
	}

	.shaman {
		color: #0070dd;
	}

	.warlock {
		color: #8788ee;
	}

	.warrior {
		color: #c69b6d;
	}
</style>
