---
import type { Parsed } from "../lib/parse";
import Players from "./Players.astro";

const { key, keyAbbrev, level, affixes, timed, finished, timeDiff, players, url } =
  Astro.props as Parsed;

const keyExecution = timed ? "pass" : finished ? "fail" : "left";

const healerTank = players.slice(0, 2);
const dps = players.slice(2);
---

<div class="row">
  <div class="subRow" style={{ paddingBottom: "0.2em" }}>
    <div class="subRow">
      <img src=`images/keys/${keyAbbrev}.jpeg` />
      <a href={url}>
        {key}
      </a>
    </div>
    <Players players={healerTank} />
  </div>

  <div class="subRow">
    <div class="subRow">
      <span>{level}</span>
      <span class:list={["timer", keyExecution]}>{timeDiff}</span>
      {affixes.map(a => <img src =`images/affixes/${a}.jpeg`>)} 
    </div>
    <Players players={dps} />
  </div>
</div>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    height: 1em;
    width: auto;
    padding-right: 0.3em;
  }

  .row {
    padding-bottom: 0.5em;
    padding-top: 0.4em;
    border-bottom: solid 0.1em #1f1f1f;
  }
  .row:last-of-type {
    border-bottom: none;
  }

  .subRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    color: #f4ebd0;
  }

  .timer {
    font-size: 0.9em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  .pass {
    color: green;
  }
  .fail {
    color: darkred;
  }
  .left {
    color: darkred;
    text-decoration: line-through;
  }
</style>
